.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/MatfOIK--f--Diehard-statistical-test/v17/.wsuo
.vs/MatfOIK--f--Diehard-statistical-test/FileContentIndex/e058868a-5cf7-4e86-99a6-ecf6a1b1fc5b.vsidx
.vs/MatfOIK--f--Diehard-statistical-test/v17/DocumentLayout.json
.vs/MatfOIK--f--Diehard-statistical-test/v17/Preview/Browse.VC.db
